// header{
//   background: url('../images/bkg-header.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: fixed;
// }

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.container {
  padding:1.5em 0 !important;
}

.sous-titre{
  font-size: 30px;
  font-weight: 500;
}

.cadre{
  border: 9px solid #FFFFFF;
  padding: 9px;
}

#identite, #activite, #planning{
  font-weight: 900;
  margin-bottom: 60px;
}

#identite::after{
opacity: 0.1;
font-size: 80px;
position: absolute;
content: 'identité';
top: 11px;
left: 11px;
}

#activite::after{
opacity: 0.1;
font-size: 80px;
position: absolute;
content: 'activités';
top: 11px;
left: 11px;
}

#planning::after{
opacity: 0.1;
font-size: 80px;
position: absolute;
content: 'planning';
top: 11px;
left: 11px;
}

.logo-pres{
  width: 100%;
  margin-top: -20px;
  margin-bottom: 50px;
}

.img-pres{
  width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 978px) {
  .img-pres{
    margin-bottom: 0px!important;
  }

  .slick-list.draggable{
    height: 450px!important;
  }
}

.slick-list.draggable{
  height: 230px;
}

.activite-title{
  font-weight: 900;
}

.heure{
  font-size: 144px;
  color: #000000;
  opacity: 0.2;
  font-weight: 900;
  position: absolute;
  top:50px;
  left:0;
}

.line{
  height: 5px;
  background: #FFFFFF;}
